@import "tailwindcss";

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

/* Hide scrollbars but keep scrolling */
.no-scrollbar {
	-ms-overflow-style: none; /* IE/Edge legacy */
	scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome/Safari */
}