@import "tailwindcss";

html,
body {
	-webkit-user-select: none;
	user-select: none;
}

input,
textarea,
select,
option,
[contenteditable="true"] {
	-webkit-user-select: text;
	user-select: text;
}

button,
[role="button"] {
	cursor: pointer;
}