@import "tailwindcss";

html,
body {
	-webkit-user-select: none;
	user-select: none;
}

input,
textarea,
select,
option,
[contenteditable="true"] {
	-webkit-user-select: text;
	user-select: text;
}

button,
[role="button"] {
	cursor: pointer;
}

/* Hide scrollbar but allow scrolling */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#root, .app {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
#root::-webkit-scrollbar, .app::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}